<a class="flex items-center mr-6" href="#">
    <img src="assets/logo/app-logo.png" class="h-3rem" alt="APP LOGO" />
</a>

<div class="items-center bg-surface-0 dark:bg-surface-900 grow justify-between hidden lg:flex absolute lg:static w-full left-0 top-full px-12 lg:px-0 z-20 rounded-border">
    <ul class="list-none p-0 m-0 flex lg:items-center select-none flex-col lg:flex-row cursor-pointer gap-5">
        <li>
            <a (click)="router.navigate([''], { fragment: 'home' })" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Accueil</span>
            </a>
        </li>
        <li>
            <div class="flex flex-wrap gap-2 align-items-center">
                <a (click)="router.navigate([''], { fragment: 'categories' })" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">Catégories</a>
            </div>
        </li>
        <li>
            <a (click)="router.navigate([''], { fragment: 'new-products' })" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Nouveaux arrivages</span>
            </a>
        </li>
        <li>
            <a (click)="router.navigate(['/list-products'])" pRipple class="px-0 py-4 text-surface-900 dark:text-surface-0 font-medium text-xl">
                <span>Produits</span>
            </a>
        </li>
        @if (authService.currentUser()?.store) {
            <li class="p-2 rounded border-1 border-blue-500">
                <a (click)="router.navigate(['/admin'])" pRipple class="px-0 py-4 font-medium text-xl">
                    @if (authService.isAdmin()) {
                        <span>Espace Admin</span>
                    } @else if (authService.isSeller()) {
                        <span>Espace Vendeur</span>
                    }
                </a>
            </li>
        }
    </ul>
    <div class="flex border-t lg:border-t-0 border-surface py-4 lg:py-0 mt-4 lg:mt-0 gap-2">
        @if (authService.isLoggedIn()) {
            <div class="flex flex-wrap gap-2 align-items-center">
                <p-overlaybadge class="mr-3 cursor-pointer" [value]="shoppingCartService.shoppingCart() ? shoppingCartService.shoppingCart()!.orderItems.length : 0" (click)="toggleDataTable(op2, $event)">
                    <i class="pi pi-shopping-cart text-4xl"></i>
                </p-overlaybadge>
                <p-popover #op2 id="overlay_panel" [style]="{ width: '600px' }">
                    @if (shoppingCartService.shoppingCart() && shoppingCartService.shoppingCart()!.orderItems.length > 0) {
                        <p-table [value]="shoppingCartService.shoppingCart()!.orderItems" selectionMode="single" dataKey="id" [rows]="5" [paginator]="true">
                            <ng-template #header>
                                <tr>
                                    <th>Image</th>
                                    <th>Nom</th>
                                    <th>Taille</th>
                                    <th>Couleur</th>
                                    <th>Quantité</th>
                                    <th>Prix</th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-item>
                                <tr [pSelectableRow]="item">
                                    <td><img [src]="'http://localhost:8080/api/products/images/' + item.productImage" class="w-16 shadow-sm" /></td>
                                    <td>{{ item.productName }}</td>
                                    <td>{{ item.size }}</td>
                                    <td>{{ item.color }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.price * item.quantity }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    } @else {
                        <p>Aucun produit dans le panier</p>
                    }
                    <a pButton (click)="gotoCart(op2, $event)" label="Accéder au panier" class="w-full py-2" severity="contrast"></a>
                </p-popover>
            </div>
            <a routerLink="/profile"><p-chip [label]="getFullName()" image="https://cdn4.iconfinder.com/data/icons/ecommerce-flat-8/64/avatar_man_think_shopping_ecommerce-512.png" styleClass="px-3 py-2"></p-chip></a>
        } @else {
            <div>
                <button pButton pRipple label="Login" routerLink="/login" [rounded]="true" [text]="true"></button>
                <button pButton pRipple label="Register" routerLink="/register" [rounded]="true"></button>
            </div>
        }
    </div>
</div>
