<div class="bg-gray-900 text-white text-lg p-3 rounded font-semibold flex justify-between">
    <div>
        <p class="font-bold m-0 text-3xl">{{ store?.name }}</p>
        <span>Adresse : {{ store?.address }}</span>
    </div>
    <div>
        <p class="font-bold m-0 mb-2">Contactez-nous</p>
        <span class="block">{{ store?.email }}</span>
        <span>{{ store?.phoneNumber }}</span>
    </div>
</div>
<app-product-list [products]="products" title="Produits de {{ store?.name }}"></app-product-list>
