<p-toolbar styleClass="mb-3">
    <ng-template #start>
        <p-button label="Nouveau" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Supprimer" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="products()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Affichage {first} to {last} of {totalRecords} products"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30, 40, 50]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gestion des produits</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th>Image</th>
            <th pSortableColumn="name" style="min-width:16rem">
                Nom
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="name" style="min-width:16rem">
                Description
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="price" style="min-width: 8rem">
                TVA
                <p-sortIcon field="price" />
            </th>
            <th pSortableColumn="category" style="min-width:10rem">
                Sous Catégorie
                <p-sortIcon field="category" />
            </th>
            <th pSortableColumn="status" style="min-width: 12rem">
                Statut
                <p-sortIcon field="status" />
            </th>
            <th style="min-width: 7rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="product" />
            </td>
            <td>
                <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.name" style="width: 64px" class="rounded" />
            </td>
            <td style="min-width: 16rem">{{ product.name }}</td>
            <td style="min-width: 16rem">{{ product.name }}</td>
            <td>{{ product.price | currency: 'USD' }}</td>
            <td>{{ product.category }}</td>
            <td>
                <p-tag [value]="product.status" [severity]="getSeverity(product.status)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-3" [rounded]="true" [outlined]="true" (click)="editProduct(product)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="productDialog" [style]="{ width: '80%', padding: '1.5rem' }" header="Détail du produit" [modal]="true">
    <ng-template #content>
        <form [formGroup]="productFormGroup" class="flex flex-col gap-3">
            <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/'" [alt]="" class="block m-auto pb-4" *ngIf="" />
            <div class="grid grid-cols-12 gap-4 mt-5">
                <div class="col-span-6">
                    <label for="name" class="block font-bold mb-2">Nom</label>
                    <input type="text" pInputText id="name" formControlName="name" required autofocus fluid />
                    <small class="text-red-500" *ngIf="submitted">Name is required.</small>
                </div>
                <div class="col-span-6">
                    <label for="status" class="block font-bold mb-2">Statut</label>
                    <p-select inputId="status" [options]="statuses" formControlName="status" optionLabel="label" optionValue="label" placeholder="Select a Status" fluid />
                </div>
            </div>
            <div>
                <label for="description" class="block font-bold mb-2">Description</label>
                <textarea id="description" pTextarea formControlName="description" required rows="3" cols="20" fluid></textarea>
            </div>

            <div>
                <span class="block font-bold mb-4">Sous Catégorie</span>
                <div class="grid grid-cols-12 gap-5">
                    @for(subCategory of subCategories(); track subCategory.id) {
                        <div class="flex items-center mb-3">
                            <p-radiobutton formControlName="subCategoryId" [value]="subCategory.id" [inputId]="subCategory.id + ''" />
                            <label for="ingredient1" class="ml-2">{{ subCategory.name }}</label>
                        </div>
                    }
                </div>
            </div>
            
            <div>
                <span class="block font-bold mb-4">Tailles</span>
                <div class="grid grid-cols-12 gap-5">
                    @for(subCategory of subCategories(); track subCategory.id) {
                        <div class="flex items-center mb-3">
                            <p-radiobutton formControlName="subCategoryId" [value]="subCategory.id" inputId="ingredient1" />
                            <label for="ingredient1" class="ml-2">{{ subCategory.name }}</label>
                        </div>
                    }
                </div>
            </div>

            <span class="block font-bold mb-4">Stock</span>
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-4">
                    <label for="price" class="block font-bold mb-3">Color</label>
                    <p-inputnumber id="price" mode="currency" currency="USD" locale="en-US" fluid />
                </div>
                <div class="col-span-4">
                    <label for="price" class="block font-bold mb-3">Price</label>
                    <p-inputnumber id="price" mode="currency" currency="USD" locale="en-US" fluid />
                </div>
                <div class="col-span-4">
                    <label for="quantity" class="block font-bold mb-3">Quantity</label>
                    <p-inputnumber id="quantity" fluid />
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveProduct()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />