<p-toast></p-toast>

<p-toolbar styleClass="mb-3">
    <ng-template #start>
        <p-button label="Nouveau" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Supprimer" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="products()"
    [rows]="10"
    [paginator]="products().length > 10"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Affichage {first} to {last} of {totalRecords} products"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30, 40, 50]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gestion des produits</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th>Image</th>
            <th pSortableColumn="name" style="min-width:16rem">
                Nom
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="description" style="min-width:16rem">
                Description
                <p-sortIcon field="description" />
            </th>
            <th pSortableColumn="tva" style="min-width: 8rem">
                TVA
                <p-sortIcon field="tva" />
            </th>
            <th pSortableColumn="subCategoryName" style="min-width:10rem">
                Sous Catégorie
                <p-sortIcon field="subCategoryName" />
            </th>
            <th pSortableColumn="status" style="min-width: 12rem">
                Statut
                <p-sortIcon field="status" />
            </th>
            <th style="min-width: 8rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="product" />
            </td>
            <td>
                <img [src]="'http://localhost:8080/api/products/images/' + product.medias[0].url" [alt]="product.name" style="width: 64px" class="rounded" />
            </td>
            <td style="min-width: 16rem">{{ product.name }}</td>
            <td style="min-width: 16rem">{{ product.description }}</td>
            <td>{{ product.tva.name }}</td>
            <td>{{ product.subCategoryName }}</td>
            <td>
                <p-tag [value]="product.status" [severity]="getSeverity(product.status)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-3" [rounded]="true" [outlined]="true" (click)="editProduct(product)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="productDialog" [style]="{ width: '70%', padding: '1.5rem' }" header="Détail du produit" [modal]="true">
    <ng-template #content>
        <form [formGroup]="productFormGroup" class="flex flex-col gap-3">
            <div class="card m-0 p-0">
                <div class="font-semibold text-xl mb-4">Images</div>
                <p-fileupload name="images[]" (onSelect)="onUpload($event)" [multiple]="true" accept="image/*" maxFileSize="1000000" mode="advanced">
                    <ng-template #empty>
                        <div>Drag and drop files to here to upload.</div>
                    </ng-template>
                </p-fileupload>
                @if(productImages().length > 0) {
                    <label for="name" class="block font-bold my-2">Images actuelles du produit</label>
                    <div class="flex flex-wrap gap-4 my-3">
                        @for(image of productImages(); track image) {
                            <div class="card m-0 px-12 flex flex-col border border-surface items-center gap-4">
                                <div>
                                    <img role="presentation" [alt]="image.altText" [src]="'http://localhost:8080/api/products/images/' + image.url" width="100" height="50" />
                                </div>
                                <p-button icon="pi pi-times" (onClick)="removeProductImage(image.url)" [outlined]="true" [rounded]="true" severity="danger" />
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="grid grid-cols-12 gap-4">
                <input type="hidden" formControlName="id" />
                <input type="hidden" formControlName="sellerId" />
                <div class="col-span-6">
                    <label for="name" class="block font-bold mb-2">Nom</label>
                    <input type="text" pInputText id="name" formControlName="name" fluid />
                    @if(formControls['name'].errors && formControls['name'].touched) {
                        @if(formControls['name'].errors['required']) {
                            <small class="text-red-500">Le nom du produit est obligatoire.</small>
                        }
                    }
                </div>
                <div class="col-span-6">
                    <label class="block font-bold mb-2">Statut</label>
                    <p-select inputId="status" [options]="statuses" formControlName="status" optionLabel="label" optionValue="value" placeholder="Sélectionner un statut" fluid />
                    @if(formControls['status'].errors && formControls['status'].touched) {
                        @if(formControls['status'].errors['required']) {
                            <small class="text-red-500">Le statut du produit est obligatoire.</small>
                        }
                    }
                </div>
            </div>
            <div class="grid col-span-12 mb-3">
                <label for="description" class="block font-bold mb-2">Description</label>
                <textarea id="description" pTextarea formControlName="description" rows="3" fluid></textarea>
                @if(formControls['description'].errors && formControls['description'].touched) {
                    @if(formControls['description'].errors['required']) {
                        <small class="text-red-500">La description du produit est obligatoire.</small>
                    }
                }
            </div>

            <div class="grid grid-cols-12 gap-4 mb-3">
                <div class="col-span-6">
                    <label class="block font-bold mb-2">Catégorie</label>
                    <p-select inputId="categoryId" [options]="categories()" formControlName="categoryId" optionLabel="name" optionValue="id" placeholder="Sélectionner une catégorie" (onChange)="onSelectCategory($event.value)" fluid></p-select>
                    @if(formControls['categoryId'].errors && formControls['categoryId'].touched) {
                        @if(formControls['categoryId'].errors['required']) {
                            <small class="text-red-500">La catégorie du produit est obligatoire.</small>
                        }
                    }
                </div>

                @if(selectedCategory) {
                    <div class="col-span-6">
                        <label class="block font-bold mb-2">Sous Catégorie</label>
                        <p-select inputId="subCategoryId" [options]="subCategories()" formControlName="subCategoryId" optionLabel="name" optionValue="id" placeholder="Sélectionner une sous catégorie" fluid></p-select>
                        @if(formControls['subCategoryId'].errors && formControls['subCategoryId'].touched) {
                            @if(formControls['subCategoryId'].errors['required']) {
                                <small class="text-red-500">La sous catégorie du produit est obligatoire.</small>
                            }
                        }
                    </div>
                }
            </div>

            @if(sizes().length > 0) {
                <div>
                    <label class="block font-bold mb-3">Stock</label>
                    <div formArrayName="stock">
                        @for(stock of stockFormArray.controls; let i = $index; track i) {
                            <div [formGroupName]="i" class="grid grid-cols-12 gap-4 mb-4 border p-3 rounded-md">

                                <!-- Taille -->
                                <div class="col-span-3">
                                    <label class="block font-bold mb-2">Taille</label>
                                    <p-select inputId="size" [options]="sizes()" formControlName="size" optionLabel="libelle" optionValue="libelle" placeholder="Sélectionner une taille" fluid></p-select>
                                    @if(stockFormArray.at(i).get('size')?.hasError('required') && stockFormArray.at(i).get('size')?.touched) {
                                        <small class="text-red-500">La taille est obligatoire.</small>
                                    }
                                </div>

                                <!-- Couleur -->
                                <div class="col-span-3">
                                    <label class="block font-bold mb-2">Couleur</label>
                                    <p-select inputId="color" [options]="colors" formControlName="color" placeholder="Sélectionner une taille" optionLabel="value" optionValue="key" fluid></p-select>
                                    @if(stockFormArray.at(i).get('color')?.hasError('required') && stockFormArray.at(i).get('color')?.touched) {
                                        <small class="text-red-500">La taille est obligatoire.</small>
                                    }
                                    @if(stockFormArray.at(i).get('color')?.hasError('notUnique') && stockFormArray.at(i).get('color')?.touched) {
                                        <small class="text-red-500">La taille est obligatoire.</small>
                                    }
                                </div>

                                <!-- Quantité -->
                                <div class="col-span-3">
                                    <label class="block font-bold mb-2">Quantité</label>
                                    <p-inputnumber formControlName="quantity" fluid />
                                </div>

                                <!-- Prix -->
                                <div class="col-span-3">
                                    <label class="block font-bold mb-2">Prix</label>
                                    <p-inputnumber
                                        formControlName="price"
                                        mode="currency"
                                        currency="EUR"
                                        locale="fr-FR"
                                        fluid
                                    />
                                </div>
                            </div>
                        }
                    </div>
                    <div class="flex items-end w-full">
                        <p-button
                            label="Ajouter une ligne"
                            icon="pi pi-plus"
                            (click)="addStockEntry()"
                        />
                    </div>
                </div>
            }
        </form>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveProduct()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '600px' }" />
