<p-toolbar styleClass="mb-3">
    <ng-template #start>
        <p-button label="Nouveau" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Supprimer" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="products()"
    [rows]="10"
    [paginator]="products().length > 10"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Affichage {first} to {last} of {totalRecords} products"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30, 40, 50]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gestion des produits</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th>Image</th>
            <th pSortableColumn="name" style="min-width:16rem">
                Nom
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="name" style="min-width:16rem">
                Description
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="price" style="min-width: 8rem">
                TVA
                <p-sortIcon field="price" />
            </th>
            <th pSortableColumn="category" style="min-width:10rem">
                Sous Catégorie
                <p-sortIcon field="category" />
            </th>
            <th pSortableColumn="status" style="min-width: 12rem">
                Statut
                <p-sortIcon field="status" />
            </th>
            <th style="min-width: 8rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="product" />
            </td>
            <td>
                <img [src]="'http://localhost:8083/images/' + product.medias[0].url" [alt]="product.name" style="width: 64px" class="rounded" />
            </td>
            <td style="min-width: 16rem">{{ product.name }}</td>
            <td style="min-width: 16rem">{{ product.description }}</td>
            <td>{{ product.tva.name }}</td>
            <td>{{ product.subCategoryId }}</td>
            <td>
                <p-tag [value]="product.status" [severity]="getSeverity(product.status)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-3" [rounded]="true" [outlined]="true" (click)="editProduct(product)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="productDialog" [style]="{ width: '70%', padding: '1.5rem' }" header="Détail du produit" [modal]="true">
    <ng-template #content>
        <form [formGroup]="productFormGroup" class="flex flex-col gap-3">
            <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/'" [alt]="" class="block m-auto pb-4" *ngIf="" />
            <div class="grid grid-cols-12 gap-4 mt-5">
                <div class="col-span-6">
                    <label for="name" class="block font-bold mb-2">Nom</label>
                    <input type="text" pInputText id="name" formControlName="name" required autofocus fluid />
                </div>
                <div class="col-span-6">
                    <label for="status" class="block font-bold mb-2">Statut</label>
                    <p-select inputId="status" [options]="statuses" formControlName="status" optionLabel="label" optionValue="value" placeholder="Sélectionner un statut" fluid />
                </div>
            </div>
            <div>
                <label for="description" class="block font-bold mb-2">Description</label>
                <textarea id="description" pTextarea formControlName="description" required rows="3" cols="20" fluid></textarea>
            </div>

            <div class="grid grid-cols-12 gap-4 mb-2">
                <div class="col-span-6">
                    <label for="categoryId" class="block font-bold mb-2">Catégorie</label>
                    <p-select inputId="categoryId" [options]="categories()" formControlName="categoryId" optionLabel="name" placeholder="Sélectionner une catégorie" (onChange)="onSelectCategory($event.value)" fluid></p-select>
                </div>

                @if(selectedCategory) {
                    <div class="col-span-6">
                        <label for="subCategoryId" class="block font-bold mb-2">Sous Catégorie</label>
                        <p-select inputId="subCategoryId" [options]="subCategories()" formControlName="subCategoryId" optionLabel="name" placeholder="Sélectionner une sous catégorie" (onChange)="onSelectSubCategory($event.value)" fluid></p-select>
                    </div>
                }
            </div>
            
            @if(selectedSubCategory) {
                <div class="grid grid-cols-12 gap-4 mb-2">
                    <div>
                        <label class="block font-bold mb-2">Tailles</label>
                        @for(size of sizes(); track size.id) {
                            <div class="flex items-center">
                                <p-checkbox [inputId]="size.libelle" [value]="size" formControlName="sizes"></p-checkbox>
                                <label [for]="size.libelle" class="ml-2">{{ size.libelle }}</label>
                            </div>
                        }
                    </div>
                </div>
            }

            <div>
                <label for="stock" class="block font-bold mb-2">Stock</label>
                <p-button
                    label="Ajouter un stock"
                    icon="pi pi-plus"
                    (click)="addStockEntry()"
                    class="mt-3"
                />
            </div>

            <div formArrayName="stock">
                @for(stock of stock.controls; let i = $index; track i) {
                    <div [formGroupName]="i" class="grid grid-cols-12 gap-4 mb-4 border p-3 rounded-md">
                    
                        <!-- Taille -->
                        <div class="col-span-3">
                            <label class="block font-bold mb-2">Taille</label>
                            <input type="text" pInputText formControlName="size" fluid />
                        </div>

                        <!-- Couleur -->
                        <div class="col-span-3">
                            <label class="block font-bold mb-2">Couleur</label>
                            <input type="text" pInputText formControlName="color" fluid />
                            @if(stock.get('color')?.invalid && stock.get('color')?.touched) {
                                <small class="text-red-500">Champ requis</small>
                            }
                        </div>

                        <!-- Quantité -->
                        <div class="col-span-3">
                            <label class="block font-bold mb-2">Quantité</label>
                            <p-inputnumber formControlName="quantity" fluid />
                        </div>

                        <!-- Prix -->
                        <div class="col-span-3">
                            <label class="block font-bold mb-2">Prix</label>
                            <p-inputnumber
                                formControlName="price"
                                mode="currency"
                                currency="EUR"
                                locale="fr-FR"
                                fluid
                            />
                        </div>
                    </div>
                }
            </div>


        </form>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveProduct()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />