<p-toast></p-toast>
@if(product()) {
    <div class="grid grid-cols-12 m-0 bg-transparent">
        <!-- <div class="col-span-4">
            <p-galleria [value]="images" [responsiveOptions]="responsiveOptions"  [thumbnailsPosition]="'left'" [containerStyle]="{ 'height': '60vh' }" [numVisible]="4" [(activeIndex)]="activeIndex">
                <ng-template #item let-item>
                    <div class="w-30rem h-30rem">
                      <img
                        [src]="'http://localhost:8080/api/products/images/' + item.url"
                        class="w-full h-full object-cover"
                        [alt]="item.name || 'image produit'"
                        loading="lazy"
                      />
                    </div>
                  </ng-template>
                  
                <ng-template #thumbnail let-item>
                    <img
                      [src]="'http://localhost:8080/api/products/images/' + item.url"
                      style="width: 6rem; height: 4rem;"
                      loading="lazy"
                    />
                  </ng-template>
            </p-galleria>
        </div> -->
        <div class="card col-span-4">
            <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'height': '65vh' }" [numVisible]="7" [circular]="true">
                <ng-template #item let-item>
                    <img [src]="'http://localhost:8080/api/products/images/' + item.url" style="height:50vh; display: block;"/>
                </ng-template>
                <ng-template #thumbnail let-item>
                    <img [src]="'http://localhost:8080/api/products/images/' + item.url" style="height: 5rem; width: 5rem; display: block;" />
                </ng-template>
            </p-galleria>
        </div>
        <div class="card ml-0 col-offset-1 col-span-5">
            <!-- Détails produit + Formulaire -->
            <div class="space-y-1">
                <h5 class="text-xl font-semibold mb-1">{{ product()!.name }}</h5>
                <p class="text-gray-700">{{ product()!.description }}</p>
                <p class="text-gray-700 mb-3">
                    {{ product()!.categoryName }} - {{ product()!.subCategoryName }}
                </p>
                <p class="text-2xl mb-4 font-medium text-green-500">{{totalPrice() + " MAD"}}</p>

                <!-- Taille -->
                <div class="mb-4">
                    <label class="block font-bold mb-2">Taille</label>
                    <div class="flex flex-wrap gap-4">
                        @for(size of sizes; track size) {
                            <div class="flex items-center">
                                <p-radiobutton [value]="size" [inputId]="size" [(ngModel)]="selectedSize" (onClick)="onSizeChange()" />
                                <label [for]="size" class="ml-2">{{ size }}</label>
                            </div>
                        }
                    </div>
                </div>

                <!-- Couleur -->
                <div class="mb-4">
                    <label class="block font-bold mb-2">Couleur</label>
                    <div class="flex flex-wrap gap-4">
                        @for(color of colors; track color) {
                            <div class="flex items-center">
                                <p-radiobutton [(ngModel)]="selectedColor" [value]="color" [inputId]="color" (onClick)="onColorChange()" />
                                <label [for]="color" class="ml-2">{{ color }}</label>
                            </div>
                        }
                    </div>
                </div>

                <!-- Quantité + Bouton -->
                <div class="mb-4">
                    <label class="block font-bold mb-2">Quantité ({{quantityInStock()}} available)</label>
                    <div class="mb-3 flex gap-4">
                        <p-inputnumber
                            inputId="quantity"
                            [(ngModel)]="selectedQuantity"
                            [showButtons]="true"
                            (onInput)="onQuantityChange()"
                            buttonLayout="horizontal"
                            [min]="1"
                            [max]="quantityInStock()"
                            [inputStyle]="{ width: '4rem', 'text-align': 'center' }"
                        >
                            <ng-template #incrementbuttonicon>
                                <span class="pi pi-plus"></span>
                            </ng-template>
                            <ng-template #decrementbuttonicon>
                                <span class="pi pi-minus"></span>
                            </ng-template>
                        </p-inputnumber>
                        <button
                            pButton
                            label="Ajouter au panier"
                            icon="pi pi-shopping-cart"
                            size="large"
                            severity="success"
                            (click)="addToCart()"
                        ></button>
                        <button
                            pButton
                            label="Acheter maintenant"
                            icon="pi pi-check"
                            size="large"
                            severity="contrast"
                            (click)="addToCart()"
                        ></button>
                    </div>
                </div>

                <button
                    (click)="goBack()"
                    class="flex items-center text-blue-500 hover:underline mt-4"
                >
                    <i class="pi pi-arrow-left mr-2"></i>
                    Retourner aux produits
                </button>
            </div>
        </div>
        <section class="card ml-0 col-span-3 border-1 border-gray-200 p-3">
            <h2 class="text-xl font-bold m-0">Commentaires</h2>
            <div class="flex flex-col gap-3 mt-3 overflow-auto" style="height: 70vh;">
                @for(comment of comments(); track comment.id) {
                    <div class="bg-gray-100 p-2 rounded">
                        <p class="font-bold m-0">{{ comment.username }}</p>
                        <p class="mb-1">{{ comment.content }}</p>
                        <p class="text-sm text-gray-500 m-0">{{ comment.createdAt  | date: 'dd/MM/yyyy à HH:mm' }}</p>
                    </div>   
                } @empty {
                    <div>
                        <p>Aucun commentaire pour le moment, Soyez le premier a commenter.</p>
                    </div>
                }
            </div>
            <div class="flex justify-between pt-3 border-top-1 border-surface gap-2">
                <textarea id="new-comment" pTextarea [(ngModel)]="comment" placeholder="Ajouter un commentaire" class="w-full" rows="1" fluid></textarea>
                <div class="flex items-end">
                    <button pButton (click)="addComment()" icon="pi pi-send"></button>
                </div>
            </div>
        </section>
    </div>
}
