<div class="flex justify-content-center align-items-center h-screen" style="background-color: #f3f4f6">
    <form [formGroup]="loginFormGroup" (ngSubmit)="login()" class="w-30rem border-1 surface-border p-5 border-round bg-white">
        <img src="assets/logo/app-logo.png" class="h-4rem mx-auto" alt="APP LOGO" />
        <h1 class="text-center text-2xl text-gray-600 mb-5">Bienvenue</h1>

        @if (errorMessage()) {
            <div class="mb-5 bg-red-400 border-round p-3">
                <p class="text-white m-0 text-center">{{ errorMessage() }}</p>
            </div>
        }

        <div class="mb-3">
            <p-floatlabel variant="in">
                <input pInputText id="email" type="text" formControlName="email" class="w-full" />
                <label for="email">Adresse Email</label>
            </p-floatlabel>
            @if (formControls['email'].errors && formControls['email'].touched) {
                @if (formControls['email'].errors['required']) {
                    <small class="text-red-500">Adresse email obligatoire.</small>
                }
                @if (formControls['email'].errors['email']) {
                    <small class="text-red-500">Addresse email invalide.</small>
                }
            }
        </div>
        <div class="mb-3">
            <p-floatlabel variant="in">
                <input pInputText id="password" type="password" formControlName="password" class="w-full" />
                <label for="password">Mot de passe</label>
            </p-floatlabel>
            @if (formControls['password'].errors && formControls['password'].touched) {
                @if (formControls['password'].errors['required']) {
                    <small class="text-red-500">Mot de passe obligatoire.</small>
                }
                @if (formControls['password'].errors['minlength']) {
                    <small class="text-red-500">Le mot de passe doit contenir au moins 8 caractères.</small>
                }
            }
        </div>
        <div class="flex justify-content-end mb-3 text-xl">
            <a routerLink="/forgot-password" class="no-underline hover:underline">Mot de passe oublié ?</a>
        </div>
        <button pButton [disabled]="loading() || loginFormGroup.invalid" [loading]="loading()" type="submit" label="Se connecter" size="large" class="w-full"></button>
        <p class="text-center mb-0 mt-5 text-gray-600 text-xl">Vous n'avez pas de compte ? <a routerLink="/register" class="no-underline hover:underline">Inscrivez-vous</a></p>
    </form>
</div>
