<div id="categories" class="mb-4">
    <div class="grid grid-cols-12 gap-3 justify-center">
        <div class="col-span-12">
            <h2 class="text-surface-900 dark:text-surface-0 font-semibold text-xl mb-1 tracking-wide">Nos catégories de produits</h2>
            <p class="text-surface-600 dark:text-surface-300 text-base">Découvrez les différentes familles de produits</p>
        </div>

        @for (category of categories(); track category.id) {
            <div class="col-span-12 sm:col-span-6 lg:col-span-3 transition-transform hover:scale-[1.03]">
                <div [routerLink]="'/category-products/' + category.id" class="bg-surface-0 dark:bg-surface-800 rounded-2xl shadow-lg p-5 h-full flex flex-col justify-between text-center cursor-pointer">
                    <div>
                        <h5 class="text-xl text-surface-900 dark:text-surface-0 font-semibold mb-2">
                            {{ category.name }}
                        </h5>
                        <p class="text-surface-600 dark:text-surface-300 text-sm leading-relaxed">
                            {{ getCategorySubCategories(category) }}
                        </p>
                    </div>
                </div>
            </div>
        } @empty {
            <div class="col-span-12">
                <p class="text-xl text-surface-600 dark:text-surface-300 italic">Aucune catégorie disponible pour le moment. Restez à l’écoute !</p>
            </div>
        }
    </div>
</div>
