<div class="w-7 mx-auto p-3 border-1 border-surface rounded">
    <div class="flex flex-col gap-4">
        <div class="flex justify-between">
            <h2 class="text-2xl font-bold mb-2">Récapitulatif de la commande</h2>
            <p class="m-0">N° de commande : {{ order()?.id }}</p>
        </div>

        <div class="flex justify-between">
            <h3 class="text-xl font-bold mb-2">Statut de la commande</h3>
            <p class="m-0 font-bold">
                <p-tag severity="success">{{ order()?.status }}</p-tag>
            </p>
        </div>

        <div class="flex flex-col gap-3">
            <h3 class="text-xl font-bold mb-2">Liste des produits</h3>
            @for (item of order()?.orderItems; track item.id) {
                <div class="flex items-center border-1 border-surface p-3 rounded gap-3">
                    <img [src]="'http://localhost:8080/api/products/images/' + item.productImage" alt="image" class="w-6rem rounded" />
                    <div class="flex-1">
                        <p class="font-bold m-0">{{ item.productName }}</p>
                        <p class="m-0">{{ item.size }} - {{ item.color }}</p>
                        <p class="m-0">Quantité : {{ item.quantity }}</p>
                        <p class="font-medium">{{ item.price * item.quantity }} MAD</p>
                    </div>
                </div>
            }
        </div>

        <div class="flex justify-between">
            <div>
                <h3 class="text-xl font-bold mb-2">Adresse de livraison</h3>
                <p class="m-0 font-medium">{{ order()?.deliveryAddress?.firstName }} {{ order()?.deliveryAddress?.lastName }}</p>
                <p class="m-0">{{ order()?.deliveryAddress?.deliveryAddress }}</p>
                <p class="m-0">{{ order()?.deliveryAddress?.postalCode }}, {{ order()?.deliveryAddress?.city }}, {{ order()?.deliveryAddress?.country }}</p>
                <p class="m-0">📞 {{ order()?.deliveryAddress?.phone }}</p>
            </div>

            <div>
                <h3 class="text-xl font-bold mb-2">Mode de paiement</h3>
                <p class="m-0">{{ order()?.invoice?.paymentMethod?.type }}</p>

                @if (order()?.invoice?.paymentMethod?.type?.toString() === 'CHEQUE') {
                    <p class="m-0">Chèque N° : {{ order()?.invoice?.paymentMethod?.chequeNumber }}</p>
                    <p class="m-0">Banque : {{ order()?.invoice?.paymentMethod?.bankName }}</p>
                }
            </div>
        </div>

        <div>
            <h3 class="text-xl font-bold mb-3">Résumé</h3>
            <div class="flex justify-between mb-2">
                <span>Total produits</span>
                <span>{{ order()?.invoice?.totalPrice }} MAD</span>
            </div>
            <div class="flex justify-between mb-2">
                <span>Frais de livraison</span>
                <span>0 MAD</span>
            </div>
            <div class="flex justify-between font-bold text-xl border-top-1 pt-3">
                <span>Total</span>
                <span>{{ order()?.invoice?.totalPrice }} MAD</span>
            </div>
        </div>
    </div>
    <div class="flex justify-between items-center mt-4 border-top-1 pt-3">
        <h3 class="text-xl font-bold mb-3">Télécharger la facture de cette commande</h3>
        <button pButton label="Télécharger" icon="pi pi-download" class="mt-2" [loading]="loading()" (click)="downloadInvoice()"></button>
    </div>
</div>
