<div class="card">
    <p-toast />
    <p-table [value]="orders" dataKey="id" [tableStyle]="{ 'min-width': '60rem' }" [expandedRowKeys]="expandedRows">
        <ng-template #caption>
            <div class="flex justify-between items-center">
                <h1 class="text-2xl font-bold m-0">Liste des commandes</h1>
                <div class="flex flex-wrap justify-end gap-2">
                    <p-button label="Expand All" icon="pi pi-plus" text (onClick)="expandAll()" />
                    <p-button label="Collapse All" icon="pi pi-minus" text (onClick)="collapseAll()" />
                </div>
            </div>
        </ng-template>
        @if (orders.length > 0) {
            <ng-template #header>
                <tr>
                    <th style="width: 5rem"></th>
                    <th pSortableColumn="userName">Utilisateur <p-sortIcon field="name" /></th>
                    <th>Date</th>
                    <th pSortableColumn="invoice.totalPrice">Prix totale <p-sortIcon field="invoice.totalPrice" /></th>
                    <th pSortableColumn="invoice.paymentMethod.type">Mode du paiement <p-sortIcon field="invoice.paymentMethod.type" /></th>
                    <th pSortableColumn="invoice.paymentMethod.status">Statut du paiement <p-sortIcon field="invoice.paymentMethod.status" /></th>
                    <th pSortableColumn="status">Statut de la commande <p-sortIcon field="status" /></th>
                    <th></th>
                </tr>
            </ng-template>
        }
        <ng-template #emptymessage>
            <tr>
                <td colspan="6">Aucune commande pour le moment</td>
            </tr>
        </ng-template>
        <ng-template #body let-order let-expanded="expanded">
            <tr>
                <td>
                    <p-button type="button" pRipple [pRowToggler]="order" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                </td>
                <td>{{ order.userName }}</td>
                <td>{{ order.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ order.invoice.totalPrice | currency: 'MAD ' }}</td>
                <td>{{ order.invoice.paymentMethod.type }}</td>
                <td>
                    <p-tag [value]="order.invoice.paymentMethod.status" [severity]="getSeverity(order.invoice.paymentMethod.status)" />
                    @if (order.invoice.paymentMethod.type === 'CHEQUE' && order.invoice.paymentMethod.status === 'PENDING') {
                        <p-button icon="pi pi-check" class="mr-3" [rounded]="true" [outlined]="true" (click)="confirmOrderPayment(order.invoice.paymentMethod.id)" />
                    }
                </td>
                <td>
                    <p-tag [value]="order.status" [severity]="getSeverity(order.status)" />
                </td>
                <td>
                    @if (order.status !== 'DELIVERED' && order.status !== 'CANCELLED') {
                        <p-button icon="pi pi-pencil" class="mr-3" [rounded]="true" [outlined]="true" (click)="showStatusDialog(order)" />
                    }
                </td>
            </tr>
        </ng-template>
        <ng-template #expandedrow let-order>
            <tr>
                <td colspan="7">
                    <div class="p-4">
                        <h5>Liste des produits de la commande</h5>
                        <p-table [value]="order.orderItems" dataKey="id">
                            @if (order.orderItems.length > 0) {
                                <ng-template #header>
                                    <tr>
                                        <th pSortableColumn="id">Id <p-sortIcon field="price" /></th>
                                        <th pSortableColumn="customer">Product <p-sortIcon field="customer" /></th>
                                        <th pSortableColumn="date">Image <p-sortIcon field="date" /></th>
                                        <th pSortableColumn="amount">Taille <p-sortIcon field="amount" /></th>
                                        <th class="text-center" pSortableColumn="status">Couleur <p-sortIcon field="status" /></th>
                                        <th class="text-center" pSortableColumn="status">Prix <p-sortIcon field="status" /></th>
                                        <th class="text-center" pSortableColumn="status">Quantité <p-sortIcon field="status" /></th>
                                    </tr>
                                </ng-template>
                            }
                            <ng-template #body let-item>
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.productName }}</td>
                                    <td><img [src]="'http://localhost:8080/api/products/images/' + item.productImage" [alt]="item.productName" style="width: 60px" class="rounded" /></td>
                                    <td class="text-center">{{ item.size }}</td>
                                    <td class="text-center">{{ item.color }}</td>
                                    <td class="text-center">{{ item.price }}</td>
                                    <td class="text-center">{{ item.quantity }}</td>
                                </tr>
                            </ng-template>
                            <ng-template #emptymessage>
                                <tr>
                                    <td colspan="6">Aucun produit pour le moment</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="orderStatusDialog" [style]="{ width: '600px' }" header="Statut de la commande" [modal]="true">
    <ng-template #content>
        <div>
            <label for="currentStatus" class="block font-semibold mb-4">Le statut actuel de la commande est : <p-tag [value]="currentStatus" [severity]="getSeverity(currentStatus)" /></label>
        </div>
        @if (getNextStatus()) {
            <label class="block mb-3">Veuillez choisir le nouveau statut de la commande</label>
            <div class="flex items-center mb-3">
                <p-radiobutton [value]="getNextStatus()" [inputId]="getNextStatus()" [(ngModel)]="selectedStatus" />
                <label [for]="getNextStatus()" class="ml-2">{{ getNextStatus() }}</label>
            </div>
            <div class="flex items-center mb-3">
                <p-radiobutton [value]="'CANCELLED'" [inputId]="'CANCELLED'" [(ngModel)]="selectedStatus" />
                <label [for]="'CANCELLED'" class="ml-2">{{ 'CANCELLED' }}</label>
            </div>
        }

        <div class="flex justify-end gap-3 mt-5">
            <p-button type="button" label="Annuler" icon="pi pi-times" text (click)="hideDialog()" />
            <p-button type="submit" label="Enregistrer" icon="pi pi-check" (click)="updateOrderStatus()" [loading]="loading" [disabled]="!selectedStatus || loading" />
        </div>
    </ng-template>
</p-dialog>
