<a [routerLink]="'/list-products/' + product().id" class="block h-full flex flex-col justify-between border rounded-2xl shadow-sm p-2 w-auto hover:shadow-md hover:scale-[1.01] transition-all duration-300 bg-white dark:bg-surface-800">
    <!-- Image + Badge -->
    <div class="relative mb-2">
        <img [src]="'http://localhost:8080/api/products/images/' + product().medias[0].url" [alt]="product().name" class="rounded-xl h-[15rem] w-full object-cover" />
        <div class="absolute top-2 left-2">
            <p-tag [value]="product().status" [severity]="getSeverity(product().status)" class="text-xs py-1 px-2 rounded-full" />
        </div>
    </div>

    <!-- Nom -->
    <h3 class="text-base font-semibold text-surface-900 dark:text-surface-0 line-clamp-2 mt-0 mb-1">
        {{ product().name }}
    </h3>

    <!-- Description -->
    <p class="text-sm text-surface-600 dark:text-surface-300 line-clamp-2 mb-2">
        {{ product().description }}
    </p>

    <!-- Catégorie + Quantité -->
    <div class="flex justify-between text-sm text-surface-500 dark:text-surface-400 mb-2">
        <span class="font-semibold bg-green-400 text-white px-2 py-1 rounded">{{ product().categoryName }}</span>
        <span>{{ getQuantity() }}</span>
    </div>

    <!-- Prix + Panier -->
    <div class="flex justify-between items-center">
        <div class="text-lg font-bold text-primary-500">
            {{ getPrice() }}
        </div>
        <p-button icon="pi pi-shopping-cart" styleClass="p-button-sm p-button-rounded p-button-outlined" />
    </div>
</a>
