<p-toast></p-toast>

<p-toolbar styleClass="mb-3">
    <ng-template #start>
        <p-button label="Nouveau" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Supprimer" icon="pi pi-trash" outlined (onClick)="deleteSelectedSizes()" [disabled]="!selectedSizes || !selectedSizes.length" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="sizes()"
    [rows]="10"
    [paginator]="sizes().length > 10"
    [globalFilterFields]="['name', 'description']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedSizes"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Affichage {first} to {last} of {totalRecords} products"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30, 40, 50]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gestion des tailles</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." />
            </p-iconfield>
        </div>
    </ng-template>
    @if(sizes().length > 0) {
        <ng-template #header>
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="libelle" style="min-width:16rem">
                    Libellé
                    <p-sortIcon field="libelle" />
                </th>
                <th pSortableColumn="category.name">Catégorie
                    <p-sortIcon field="category.name" />
                </th>
                <th style="min-width: 7rem"></th>
            </tr>
        </ng-template>
    }
    <ng-template #body let-size>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="size" />
            </td>
            <td style="min-width: 16rem">{{ size.libelle }}</td>
            <td style="min-width: 16rem">{{ size.category.name }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-3" [rounded]="true" [outlined]="true" (click)="editSize(size)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteSize(size)" />
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="6">Aucune taille pour le moment</td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="sizeDialog" [style]="{ width: '600px' }" header="Taille" [modal]="true">
        <ng-template #content>
            <form [formGroup]="sizeFormGroup" (ngSubmit)="saveSize()" class="flex flex-col gap-3 mt-4">
                <label class="block font-bold mb-2">Catégorie</label>
                <div>
                    @for(category of categories(); track category.id) {
                        <div class="flex items-center mb-3">
                            <p-radiobutton formControlName="categoryId" [value]="category.id" [inputId]="category.name + '-' + category.id" />
                            <label [for]="category.name + '-' + category.id" class="ml-2">{{ category.name }}</label>
                            @if(formControls['categoryId'].errors && formControls['categoryId'].touched) {
                                @if(formControls['categoryId'].errors['required']) {
                                    <small class="text-red-500">Veuillez choisir une catégorie.</small>
                                }
                            }
                        </div>
                    }
                </div>
                <div>
                    <p-floatlabel variant="in">
                        <input pInputText id="libelle" type="text" formControlName="libelle" class="w-full" />
                        <label for="libelle">Libellé</label>
                    </p-floatlabel>
                    @if(formControls['libelle'].errors && formControls['libelle'].touched) {
                        @if(formControls['libelle'].errors['required']) {
                            <small class="text-red-500">Le libellé de la taille est obligatoire.</small>
                        }
                    }
                </div>
                <div class="flex justify-end gap-3">
                    <p-button type="button" label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
                    <p-button type="submit" label="Save" icon="pi pi-check" [loading]="loading()" [disabled]="!sizeFormGroup.valid || loading()" />
                </div>
            </form>
        </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
