<div id="new-products" class="p-6">
    <div class="grid grid-cols-12 gap-4 justify-center">
        <div class="col-span-12 text-center">
            <div class="text-surface-900 dark:text-surface-0 font-normal mb-2 text-4xl">Nouveau arrivage</div>
        </div>

        <div class="col-span-12 flex gap-4">
            <p-carousel class="mx-auto" [value]="products" [circular]="true" [autoplayInterval]="3000" [numVisible]="5" [numScroll]="3" [circular]="false" [responsiveOptions]="carouselResponsiveOptions">
                <ng-template let-product #item>
                    <app-product-card [product]="product"></app-product-card>
                </ng-template>
            </p-carousel>
        </div>
    </div>
    <div class="col-span-12 text-center">
        <a class="text-blue-500 hover:text-blue-700" routerLink="/home/list-products">Voir tous les produits</a>
    </div>
</div>