<p-toolbar styleClass="mb-3">
    <ng-template #start>
        <p-button label="Nouveau" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Supprimer" icon="pi pi-trash" outlined (onClick)="deleteSelectedFeatures()" [disabled]="!selectedFeatures || !selectedFeatures.length" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="features()"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'description']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedFeatures"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Affichage {first} to {last} of {totalRecords} products"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30, 40, 50]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gestion des fonctionnalités</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="name" style="min-width:16rem">
                Libellé
                <p-sortIcon field="name" />
            </th>
            <th>Ressource</th>
            <th>Action</th>
            <th style="min-width: 7rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-feature>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="feature" />
            </td>
            <td style="min-width: 16rem">{{ feature.libelle }}</td>
            <td style="min-width: 16rem">{{ feature.resourceName }}</td>
            <td style="min-width: 16rem">{{ feature.action }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-3" [rounded]="true" [outlined]="true" (click)="editFeature(feature)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteFeature(feature)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="featureDialog" [style]="{ width: '600px' }" header="Taille" [modal]="true">
        <ng-template #content>
            <form [formGroup]="featureFormGroup" (ngSubmit)="saveFeature()" class="flex flex-col gap-3 mt-4">
                <div>
                    <label for="name" class="block font-bold mb-2">Libellé</label>
                    <input type="text" pInputText id="name" formControlName="libelle" required autofocus fluid />
                    <small class="text-red-500">Libellé is required.</small>
                </div>
                <div>
                    <label for="name" class="block font-bold mb-2">Ressource</label>
                    <input type="text" pInputText id="name" formControlName="resourceNameq" required autofocus fluid />
                    <small class="text-red-500">Libellé is required.</small>
                </div>
                <div>
                    <label for="name" class="block font-bold mb-2">Action</label>
                    <input type="text" pInputText id="name" formControlName="action" required autofocus fluid />
                    <small class="text-red-500">Libellé is required.</small>
                </div>
                <div class="flex justify-end gap-3">
                    <p-button type="button" label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
                    <p-button type="submit" label="Save" icon="pi pi-check" />
                </div>
            </form>
        </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />