<p-toast></p-toast>

<p-toolbar styleClass="mb-3">
    <ng-template #start>
        <p-button label="Nouveau" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Supprimer" icon="pi pi-trash" outlined (onClick)="deleteSelectedFeatures()" [disabled]="!selectedFeatures || !selectedFeatures.length" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="features()"
    [rows]="10"
    [paginator]="features().length > 10"
    [globalFilterFields]="['libelle', 'resourceName', 'action']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedFeatures"
    [rowHover]="true"
    dataKey="id"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30, 40, 50]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gestion des fonctionnalités</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="libelle" style="min-width:16rem">
                Libellé
                <p-sortIcon field="libelle" />
            </th>
            <th pSortableColumn="resourceName">
                Ressource 
                <p-sortIcon field="resourceName" />
            </th>
            <th pSortableColumn="action">
                Action
                <p-sortIcon field="action" />
            </th>
            <th style="min-width: 7rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-feature>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="feature" />
            </td>
            <td style="min-width: 16rem">{{ feature.libelle }}</td>
            <td style="min-width: 16rem">{{ feature.resourceName }}</td>
            <td style="min-width: 16rem">{{ feature.action }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-3" [rounded]="true" [outlined]="true" (click)="editFeature(feature)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteFeature(feature)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="featureDialog" [style]="{ width: '600px' }" header="Fonctionnalité" [modal]="true">
        <ng-template #content>
            <form [formGroup]="featureFormGroup" (ngSubmit)="saveFeature()" class="flex flex-col gap-3 mt-4">
                <input type="hidden" formControlName="id" />
                <div>
                    <p-floatlabel variant="in">
                        <input pInputText id="libelle" type="text" formControlName="libelle" class="w-full" />
                        <label for="libelle">Libellé</label>
                    </p-floatlabel>
                    @if(formControls['libelle'].errors && formControls['libelle'].touched) {
                        @if(formControls['libelle'].errors['required']) {
                            <small class="text-red-500">Le libellé est obligatoire.</small>
                        }
                    }
                </div>
                <div>
                    <p-floatlabel variant="in">
                        <input pInputText id="resourceName" type="text" formControlName="resourceName" class="w-full" />
                        <label for="resourceName">Ressource</label>
                    </p-floatlabel>
                    @if(formControls['resourceName'].errors && formControls['resourceName'].touched) {
                        @if(formControls['resourceName'].errors['required']) {
                            <small class="text-red-500">Le nom de la ressouce est obligatoire.</small>
                        }
                    }
                </div>
                <div>
                    <p-floatlabel variant="in">
                        <input pInputText id="action" type="text" formControlName="action" class="w-full" />
                        <label for="action">Action</label>
                    </p-floatlabel>
                    @if(formControls['action'].errors && formControls['action'].touched) {
                        @if(formControls['action'].errors['required']) {
                            <small class="text-red-500">Le nom de la catégorie est obligatoire.</small>
                        }
                    }
                </div>
                <div class="flex justify-end gap-3">
                    <p-button type="button" label="Annuler" icon="pi pi-times" text (click)="hideDialog()" />
                    <p-button type="submit" label="Enregistrer" icon="pi pi-check" [loading]="loading()" [disabled]="!featureFormGroup.valid || loading()" />
                </div>
            </form>
        </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />