<p-toast></p-toast>

<p-toolbar styleClass="mb-3">
    <ng-template #start>
        <p-button label="Nouveau" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Supprimer" icon="pi pi-trash" outlined (onClick)="deleteSelectedUsers()" [disabled]="!selectedUsers || !selectedUsers.length" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="users()"
    [rows]="10"
    [paginator]="users().length > 10"
    [globalFilterFields]="['libelle', 'resourceName', 'action']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedUsers"
    [rowHover]="true"
    dataKey="id"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30, 40, 50]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            @if(role === 'admin') {
                <h5 class="m-0">Gestion des administrateurs</h5>
            } @else if(role === 'vendor') {
                <h5 class="m-0">Gestion des vendeurs</h5>
            } @else {
                <h5 class="m-0">Gestion des utilisateurs</h5>
            }
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="lastName" style="min-width:16rem">
                Nom
                <p-sortIcon field="lastName" />
            </th>
            <th pSortableColumn="firstName">
                Prénom 
                <p-sortIcon field="firstName" />
            </th>
            <th pSortableColumn="email">
                Addresse Email
                <p-sortIcon field="email" />
            </th>
            <th style="min-width: 7rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-user>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="user" />
            </td>
            <td style="min-width: 16rem">{{ user.lastName }}</td>
            <td style="min-width: 16rem">{{ user.firstName }}</td>
            <td style="min-width: 16rem">{{ user.email }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-3" [rounded]="true" [outlined]="true" (click)="editUser(user)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteUser(user)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="userDialog" [style]="{ width: '600px' }" header="Utilisateur" [modal]="true">
        <ng-template #content>
            <form [formGroup]="userFormGroup" (ngSubmit)="saveUser()" class="grid grid-cols-12 gap-3 p-3">
                <div class="col-span-6">
                    <p-floatlabel variant="in">
                        <input pInputText id="lastName" type="text" formControlName="lastName" class="w-full" />
                        <label for="lastName">Nom</label>
                    </p-floatlabel>
                    @if(formControls['lastName'].errors && formControls['lastName'].touched) {
                        @if(formControls['lastName'].errors['required']) {
                            <small class="text-red-500">Le nom est obligatoire.</small>
                        }
                    }
                </div>
                <div class="col-span-6">
                    <p-floatlabel variant="in">
                        <input pInputText id="firstName" type="text" formControlName="firstName" class="w-full" />
                        <label for="firstName">Prénom</label>
                    </p-floatlabel>
                    @if(formControls['firstName'].errors && formControls['firstName'].touched) {
                        @if(formControls['firstName'].errors['required']) {
                            <small class="text-red-500">Le prénom est obligatoire.</small>
                        }
                    }
                </div>
                <div class="col-span-12">
                    <p-floatlabel variant="in">
                        <input pInputText id="email" type="text" formControlName="email" class="w-full" />
                        <label for="email">Adresse email</label>
                    </p-floatlabel>
                    @if(formControls['email'].errors && formControls['email'].touched) {
                        @if(formControls['email'].errors['required']) {
                            <small class="text-red-500">L'addresse email est obligatoire.</small>
                        }
                        @if(formControls['email'].errors['email']) {
                            <small class="text-red-500">L'addresse email est invalide.</small>
                        }
                    }
                </div>
                <div class="col-span-12">
                    <label class="block mb-3">Profils</label>
                    <div class="flex gap-3">
                        @for (profile of profiles(); track profile.id) {
                          <div>
                            <input
                              type="checkbox"
                              [value]="profile.id"
                              [checked]="isChecked(profile.id)"
                              (change)="onCheckboxChange($event)"
                              [id]="'profile_' + profile.id"
                            />
                            <label [for]="'profile_' + profile.id" class="ml-2">{{ profile.name }}</label>
                          </div>
                        }
                      </div>
                      
                </div>
                <div class="col-span-12 flex justify-end gap-3">
                    <p-button type="button" label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
                    <p-button type="submit" label="Save" icon="pi pi-check" [loading]="loading()" [disabled]="!userFormGroup.valid || loading()" />
                </div>
            </form>
        </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />