<p-toast></p-toast>

<div class="flex justify-between items-center mb-3">
        <h5 class="m-0">Gestion des profils</h5>
        <p-button label="Nouveau" icon="pi pi-plus" severity="success" class="mr-2" (onClick)="openNew()" />
</div>

@for(profil of profils(); track profil.id) {
    <div class="mb-3">
        <div class="card">
            <div class="font-semibold text-xl mb-4 flex items-center justify-between">
                {{ profil.name }}

                <div>
                    <p-button icon="pi pi-pencil" class="mr-3" [rounded]="true" [outlined]="true" (click)="editProfil(profil)" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" [disabled]="profil.name === 'ROLE_ADMIN'" (click)="deleteProfil(profil)" />
                </div>
            </div>
            @if(profil.name === 'ROLE_ADMIN') {
                <p>Ce profile peut accéder à toute les fonctionnalités.</p>
            } @else {
                <p-pick-list [source]="sourceFeatures" [target]="profil.features" breakpoint="1400px">
                    <ng-template #item let-item>
                        {{ item.libelle }}
                    </ng-template>
                </p-pick-list>
            }
        </div>
    </div>
}

<p-dialog [(visible)]="profilDialog" [style]="{ width: '600px' }" header="Profils" [modal]="true">
        <ng-template #content>
            <form [formGroup]="profilFormGroup" (ngSubmit)="saveProfil()" class="flex flex-col gap-3">
                <input type="hidden" formControlName="id" />
                <div>
                    <p-floatlabel variant="in">
                        <input pInputText id="name" type="text" formControlName="name" class="w-full" />
                        <label for="name">Nom</label>
                    </p-floatlabel>
                    @if(formControls['name'].errors && formControls['name'].touched) {
                        @if(formControls['name'].errors['required']) {
                            <small class="text-red-500">Le nom du profil est obligatoire.</small>
                        }
                    }
                </div>
                <div class="flex justify-end gap-3">
                    <p-button type="button" label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
                    <p-button type="submit" label="Save" icon="pi pi-check" [loading]="loading()" [disabled]="!profilFormGroup.valid || loading()" />
                </div>
            </form>
        </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />