<div class="mb-3">
    <p-button label="Nouveau" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    <p-button severity="secondary" label="Supprimer" icon="pi pi-trash" outlined (onClick)="deleteSelectedProfils()" [disabled]="!selectedProfils || !selectedProfils.length" />
</div>

<p-table
    #dt
    [value]="profils()"
    [globalFilterFields]="['name']"
    [tableStyle]="{ 'width': '30rem' }"
    [(selection)]="selectedProfils"
    [rowHover]="true"
    dataKey="id"
>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="name" style="min-width: 16rem">
                Nom
                <p-sortIcon field="name" />
            </th>
            <th style="min-width: 7rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-category>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="category" />
            </td>
            <td style="min-width: 16rem">{{ category.name }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-3" [rounded]="true" [outlined]="true" (click)="editProfil(profil)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProfil(profil)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- <div class="lg:w-2/3">
    <div class="card">
        <div class="font-semibold text-xl mb-4">PickList</div>
        <p-pick-list [source]="sourceCities" [target]="targetCities" breakpoint="1400px">
            <ng-template #item let-item>
                {{ item.name }}
            </ng-template>
        </p-pick-list>
    </div>
</div> -->

<p-dialog [(visible)]="profilDialog" [style]="{ width: '600px' }" header="Profiles" [modal]="true">
        <ng-template #content>
            <form [formGroup]="profilFormGroup" (ngSubmit)="saveProfil()" class="flex flex-col gap-3">
                <div>
                    <label for="name" class="block font-bold mb-2">Profile</label>
                    <input type="text" pInputText id="name" formControlName="name" required autofocus fluid />
                    <small class="text-red-500" *ngIf="submitted && !profil.name">Name is required.</small>
                </div>
                <div class="flex justify-end gap-3">
                    <p-button type="button" label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
                    <p-button type="submit" label="Save" icon="pi pi-check" />
                </div>
            </form>
        </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />